/*
 * Author: Yunha Jo
 * CS 132 Spring 2023
 * Date: May 25, 2023
 * This is the style.css page for the index.html page for final project. 
 */

 #search-bar {
    margin-top: 10px;
    border: solid black 1px;
    border-radius: 5px;
    width: 70%;
    height: 44px;
    padding-left: 20px;
}

#header-bar a {
    margin-top: 15px;
    font-size: 15pt;
    color: #808080;
    border: none;
    background-color: white;
    width: 14%;
    text-align: center;
}
  
nav > ul {
    padding-top: 10px;
    list-style-type: none;
}
  
nav > ul > li {
    padding-left: 50px;
    padding-right: 50px;
    display: inline;
}

nav a {
    font-size: 20pt;
    color: #edede9;
    text-decoration: none;
}

nav {
    background-color: #6b705c;
    height: 50px;
}

ul {
    margin: 0px;
}